
@font-face {
    font-family: Miyoshi;
    src: url(summs/Miyoshi-Demo.ttf);
}


@font-face {
    font-family: M;
    src: url(summs/BillionDreams_PERSONAL.ttf);
}


body {
	margin: 0 auto;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
    background: url(summs/wallpaperflare.com_wallpaper.jpg)
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 2px 2px rgb(0, 0, 0);
    text-align: center;
}

.titulo-header {
    width: 100px;
    padding-left: 30px;
    font-family: M;
    color: rgb(56, 52, 52);
}

.titulo-header:hover {
    color: rgb(255, 255, 255);
    transition: 2s;
}


.header{
    width: 100%;
    height: 100%;
}

#main-header {
    
    padding: 2px;
    position: relative;
    display: flex;
    top: 0;
    width: 100%;
    background: linear-gradient(rgb(34, 34, 34),black);
    justify-content: space-between;
    align-items: center;
}


a {
    color: white;
    text-decoration: none;
    font-size: medium;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: rgb(133, 133, 133);


}

.Integrantes {

    color: gray;
}


#contenedor{

    
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4%;
    padding-top: 10%;
    gap: 3%;
    

    
  
}
   


.imagen {

    width: 200px;
    position: relative;
    cursor: pointer;
    box-shadow: 1px 1px 1000px white;
    border-radius: 20px;
   
   

}


.imagen {

    width: 200px;
    position: relative;
 

}
img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 20px;
   
   
   

}
.titulos{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.titulos:hover{
    opacity: 1;
}
.titulos h1 {
    font-size: 25px;
    color:white;
    margin-bottom: 15px;
}
.titulos p {
    font-size: 25px;
    color:white;
    margin-bottom: 15px;

}

.imagen:hover{
    
        transform: scale(1.3);
        transition: 1.5s;
        box-shadow: 1px 1px 1000px #FF3333;
       
}


#hola:hover{
    box-shadow: 1px 1px 1000px blue
}

#byebye:hover{
    box-shadow: 1px 1px 1000px #9C33FF
}
